In [23]:
24*365*2

17520

In [4]:
from jobspy import scrape_jobs
import pandas as pd

In [7]:
jobs = scrape_jobs(
    site_name=["indeed", #"linkedin", 
               "glassdoor", 
               "google"],
    search_term="food science",
    google_search_term="food science jobs Singapore",
    location="Singapore",
    hours_old=17520,
    results_wanted=2000,
    country_indeed='Singapore',
    
    # linkedin_fetch_description=True # gets more info such as description, direct job url (slower)
    # proxies=["208.195.175.46:65095", "208.195.175.45:65095", "localhost"],
)
print(f"Found {len(jobs)} jobs")

Found 271 jobs

In [6]:
jobs

,id,site,job_url,job_url_direct,title,company,location,date_posted,job_type,salary_source,...,company_addresses,company_num_employees,company_revenue,company_description,skills,experience_range,company_rating,company_reviews_count,vacancy_count,work_from_home_type
0,gd-1009704550260,glassdoor,https://www.glassdoor.sg/job-listing/j?jl=1009...,NaN,Quality Assurance Manager,Inspire Brands,Singapore,2025-04-10,NaN,NaN,...,NaN,NaN,NaN,NaN,None,None,None,None,None,None
1,gd-1009704847962,glassdoor,https://www.glassdoor.sg/job-listing/j?jl=1009...,NaN,Regional Product Marketing Specialist â€“ Food S...,Neogen,NaN,2025-04-10,NaN,NaN,...,NaN,NaN,NaN,NaN,None,None,None,None,None,None
2,gd-1009704972680,glassdoor,https://www.glassdoor.sg/job-listing/j?jl=1009...,NaN,"Senior Instrument Analyst (F&B), Singapore",Symrise,Singapore,2025-04-10,NaN,NaN,...,NaN,NaN,NaN,NaN,None,None,None,None,None,None
3,gd-1009704016455,glassdoor,https://www.glassdoor.sg/job-listing/j?jl=1009...,NaN,Lab Technician (5 Days Office Hours/ Up To $28...,Recruit Express,Singapore,2025-04-10,NaN,NaN,...,NaN,NaN,NaN,NaN,None,None,None,None,None,None
4,gd-1009701509147,glassdoor,https://www.glassdoor.sg/job-listing/j?jl=1009...,NaN,Lecturer - Applied Sciences (Applied Food Scie...,ITE Institute of Technical Education,Singapore,2025-04-08,NaN,NaN,...,NaN,NaN,NaN,NaN,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,in-afa4ef5812b1ea93,indeed,https://sg.indeed.com/viewjob?jk=afa4ef5812b1ea93,https://careers.singhealth.com.sg/SHP/job/Sing...,Dietitian,SingHealth,SG,2024-01-17,NaN,NaN,...,Singapore,"10,000+",NaN,NaN,None,None,None,None,None,None
265,in-5e5673a4c74cd4e9,indeed,https://sg.indeed.com/viewjob?jk=5e5673a4c74cd4e9,https://escoaster.com/Careers/Food-Scientist#c...,Food Scientist,Esco Aster Pte Ltd,"Queenstown, S00, SG",2023-01-27,NaN,NaN,...,NaN,NaN,NaN,NaN,None,None,None,None,None,None
266,in-39f6dc03491a5c22,indeed,https://sg.indeed.com/viewjob?jk=39f6dc03491a5c22,https://escoaster.com/Careers/Quality-Assuranc...,Quality Assurance Specialist/Food Safety Offic...,Esco Aster Pte Ltd,"Queenstown, S00, SG",2023-01-27,NaN,NaN,...,NaN,NaN,NaN,NaN,None,None,None,None,None,None
267,in-7e39ab26fb16edad,indeed,https://sg.indeed.com/viewjob?jk=7e39ab26fb16edad,https://www.slh.org.sg/senior-dietitian/,Senior Dietitian,St Luke's Hospital,"Bukit Batok, S00, SG",2022-11-29,NaN,NaN,...,Dublin,201 to 500,NaN,NaN,None,None,None,None,None,None
268,in-b168f574f8e540cf,indeed,https://sg.indeed.com/viewjob?jk=b168f574f8e540cf,https://careers.singaporetech.edu.sg/en/job/49...,Research Fellow (Food Science & Technology / C...,Singapore Institute of Technology,"Punggol, S00, SG",2020-08-01,contract,NaN,...,Singapore,"501 to 1,000",$25M to $100M (USD),NaN,None,None,None,None,None,None

In [45]:
jobs[['site', 'company', 'title', 'date_posted']].head()

,site,company,title,date_posted
0,glassdoor,Recruit Express,Lab Technician (5 Days Office Hours/ Up To $28...,2025-04-10
1,glassdoor,Inspire Brands,Quality Assurance Manager,2025-04-10
2,glassdoor,Recruit Express,QC Lab Technician (FOOD MANUFACTURING MNC) - E...,2025-04-08
3,glassdoor,ITE Institute of Technical Education,Lecturer - Applied Sciences (Applied Food Scie...,2025-04-08
4,glassdoor,Neogen,Regional Product Marketing Specialist â€“ Food S...,2025-04-08

In [46]:
jobs[['site', 'company', 'title', 'date_posted']].tail()

,site,company,title,date_posted
332,indeed,SingHealth,Dietitian,2024-01-17
333,indeed,Esco Aster Pte Ltd,Food Scientist,2023-01-27
334,indeed,Esco Aster Pte Ltd,Quality Assurance Specialist/Food Safety Offic...,2023-01-27
335,indeed,St Luke's Hospital,Senior Dietitian,2022-11-29
336,indeed,Singapore Institute of Technology,Research Fellow (Food Science & Technology / C...,2020-08-01

In [47]:
jobs['site'].value_counts()

site
indeed       133
glassdoor    124
google        80
Name: count, dtype: int64

In [50]:
df_foodsci = jobs[['site', 'company', 'title', 'date_posted']]
df_foodsci

,site,company,title,date_posted
0,glassdoor,Recruit Express,Lab Technician (5 Days Office Hours/ Up To $28...,2025-04-10
1,glassdoor,Inspire Brands,Quality Assurance Manager,2025-04-10
2,glassdoor,Recruit Express,QC Lab Technician (FOOD MANUFACTURING MNC) - E...,2025-04-08
3,glassdoor,ITE Institute of Technical Education,Lecturer - Applied Sciences (Applied Food Scie...,2025-04-08
4,glassdoor,Neogen,Regional Product Marketing Specialist â€“ Food S...,2025-04-08
...,...,...,...,...
332,indeed,SingHealth,Dietitian,2024-01-17
333,indeed,Esco Aster Pte Ltd,Food Scientist,2023-01-27
334,indeed,Esco Aster Pte Ltd,Quality Assurance Specialist/Food Safety Offic...,2023-01-27
335,indeed,St Luke's Hospital,Senior Dietitian,2022-11-29
336,indeed,Singapore Institute of Technology,Research Fellow (Food Science & Technology / C...,2020-08-01

In [38]:
# another term
jobs_tech = scrape_jobs(
    site_name=["indeed", #"linkedin", 
               "glassdoor", 
               "google"],
    search_term="food technology",
    google_search_term="food tech jobs Singapore",
    location="Singapore",
    hours_old=17520,
    results_wanted=2000,
    country_indeed='Singapore'
)
print(f"Found {len(jobs_tech)} jobs")

Found 875 jobs

In [39]:
jobs_tech[['site', 'company', 'title', 'date_posted']].head()

,site,company,title,date_posted
0,glassdoor,GEA Group,"Vice President, Human Resources, APAC incl. China",2025-04-10
1,glassdoor,NestlÃ©,Electrical and Automation Technician,2025-04-10
2,glassdoor,ACHIEVE TECHNOLOGY ASIA PACIFIC PTE LTD,Meat Specialist (Supermarket),2025-04-10
3,glassdoor,Kerry,Senior Flavourist,2025-04-10
4,glassdoor,Domino's Corporate,International Business Manager,2025-04-10

In [40]:
jobs_tech[['site', 'company', 'title', 'date_posted']].tail()

,site,company,title,date_posted
870,indeed,MIU Global Pte Ltd,Graphic Designer,2021-09-16
871,indeed,Singapore Institute of Technology,Research Assistant (VT1),2021-04-06
872,indeed,Singapore Institute of Technology,Research Engineer (BL1),2021-04-05
873,indeed,Singapore Institute of Technology,Research Fellow (Food Science & Technology / C...,2020-08-01
874,indeed,Hashmeta Pte Ltd,Social Media Community Manager,2018-04-23

In [41]:
jobs_tech['site'].value_counts()

site
indeed       442
glassdoor    385
google        48
Name: count, dtype: int64

In [42]:
jobs_tech['title'].value_counts()

title
Research Fellow                                               7
AGV Engineer                                                  5
R&D Packaging Engineer                                        5
Field Service Engineer                                        5
Technician                                                    4
                                                             ..
Senior Application Technologist                               1
Foodtech Principal                                            1
Junior Food Technologist                                      1
Scientist (Research Planning)                                 1
Research Officer/Research Assistant (Cellular Agriculture)    1
Name: count, Length: 453, dtype: int64

In [2]:
jobs_tech.columns

NameError: name 'jobs_tech' is not defined

In [51]:
df_foodtech = jobs_tech[['site', 'company', 'title', 'date_posted']]
df_foodtech

,site,company,title,date_posted
0,glassdoor,GEA Group,"Vice President, Human Resources, APAC incl. China",2025-04-10
1,glassdoor,NestlÃ©,Electrical and Automation Technician,2025-04-10
2,glassdoor,ACHIEVE TECHNOLOGY ASIA PACIFIC PTE LTD,Meat Specialist (Supermarket),2025-04-10
3,glassdoor,Kerry,Senior Flavourist,2025-04-10
4,glassdoor,Domino's Corporate,International Business Manager,2025-04-10
...,...,...,...,...
870,indeed,MIU Global Pte Ltd,Graphic Designer,2021-09-16
871,indeed,Singapore Institute of Technology,Research Assistant (VT1),2021-04-06
872,indeed,Singapore Institute of Technology,Research Engineer (BL1),2021-04-05
873,indeed,Singapore Institute of Technology,Research Fellow (Food Science & Technology / C...,2020-08-01
874,indeed,Hashmeta Pte Ltd,Social Media Community Manager,2018-04-23

In [54]:
df_foodtech.dtypes

site           object
company        object
title          object
date_posted    object
dtype: object

In [55]:
df_foodsci.dtypes

site           object
company        object
title          object
date_posted    object
dtype: object

In [60]:
df_merged = pd.concat([df_foodsci, df_foodtech])
#df_merged['title_date_posted'] = df_merged['title'] + df_merged['date_posted']
df_merged.sort_values(['company', 'title'])

,site,company,title,date_posted
138,glassdoor,67 PALL MALL SINGAPORE LTD.,Events Executive,2025-03-15
139,glassdoor,67 PALL MALL SINGAPORE LTD.,Events Manager,2025-03-15
582,indeed,67 Pall Mall Singapore,Events Executive,2025-03-15
583,indeed,67 Pall Mall Singapore,Events Manager,2025-03-15
195,google,"A*STAR - Agency for Science, Technology and Re...",Principal Investigator / Senior Scientist in F...,NaN
...,...,...,...,...
480,indeed,NaN,Research Fellow [LKCMedicine],2025-04-01
775,indeed,NaN,Tenure-Track Position for Assistant Professor ...,2024-11-19
784,indeed,NaN,Tenure-Track Position for Assistant Professor ...,2024-11-08
311,indeed,NaN,Tenure-Track Position for Assistant Professor ...,2024-11-27
769,indeed,NaN,Tenure-Track Position for Assistant Professor ...,2024-11-27

In [68]:
# check duplicated
df_merged[df_merged.duplicated(subset=['title', 'date_posted'])]

,site,company,title,date_posted
22,glassdoor,JSTT SINGAPORE PTE. LTD.,Food Quality Assurance Officer,2025-03-29
119,glassdoor,SingHealth Group,Dietitian,2024-11-24
135,google,ITE Institute of Technical Education,Lecturer - Applied Sciences (Applied Food Scie...,2025-04-08
156,google,YHS (SINGAPORE) PTE LTD,Food Technologist / Senior Food Technologist,2025-04-02
205,indeed,ITE Institute of Technical Education,Lecturer - Applied Sciences (Applied Food Scie...,2025-04-08
...,...,...,...,...
820,indeed,Nanyang Technological University,Tenure-Track Position for Assistant Professor ...,2024-07-24
840,indeed,Singapore Institute of Technology,Research Fellow/Engineer (Food processing and ...,2024-04-11
862,indeed,Esco Aster Pte Ltd,Food Scientist,2023-01-27
868,indeed,Esco Aster Pte Ltd,Quality Assurance Specialist/Food Safety Offic...,2023-01-27
873,indeed,Singapore Institute of Technology,Research Fellow (Food Science & Technology / C...,2020-08-01

In [69]:
df_merged.query("title == 'Food Quality Assurance Officer'")

,site,company,title,date_posted
21,glassdoor,SIN HIN FROZEN FOOD PRIVATE LIMITED,Food Quality Assurance Officer,2025-03-29
22,glassdoor,JSTT SINGAPORE PTE. LTD.,Food Quality Assurance Officer,2025-03-29
226,indeed,JSTT SINGAPORE PTE. LTD.,Food Quality Assurance Officer,2025-03-28
227,indeed,SIN HIN FROZEN FOOD PRIVATE LIMITED,Food Quality Assurance Officer,2025-03-28

In [70]:
df_drop_dup = df_merged.drop_duplicates(subset=['title', 'date_posted'])
df_drop_dup

,site,company,title,date_posted
0,glassdoor,Recruit Express,Lab Technician (5 Days Office Hours/ Up To $28...,2025-04-10
1,glassdoor,Inspire Brands,Quality Assurance Manager,2025-04-10
2,glassdoor,Recruit Express,QC Lab Technician (FOOD MANUFACTURING MNC) - E...,2025-04-08
3,glassdoor,ITE Institute of Technical Education,Lecturer - Applied Sciences (Applied Food Scie...,2025-04-08
4,glassdoor,Neogen,Regional Product Marketing Specialist â€“ Food S...,2025-04-08
...,...,...,...,...
869,indeed,NaN,Production Sous Chef,2022-01-25
870,indeed,MIU Global Pte Ltd,Graphic Designer,2021-09-16
871,indeed,Singapore Institute of Technology,Research Assistant (VT1),2021-04-06
872,indeed,Singapore Institute of Technology,Research Engineer (BL1),2021-04-05
874,indeed,Hashmeta Pte Ltd,Social Media Community Manager,2018-04-23

In [72]:
df_drop_dup.to_excel("food-sci-food-tech-jobs-scrapped-250410.xlsx")